body {
    /* background-color: #1f1f1f; */
    /* color: aliceblue; */
    height: 990px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;


}

header {
    height: 15%;
}

header>div:first-child {
    justify-content: center;
}

main {
    height: 75%;
}

footer {
    height: 10%;
}

.align {

    align-items: end;
    display: flex;
    /* justify-content: center; */

}

footer>div {
    width: 100%;
    margin-bottom: 0.5rem;
}

main>section a:hover {
    background-color: aqua;
}

main>section a {
    background-color: red;
}

.line {
    margin: 5px;
    /* height: 1px; */
    border: 1px solid black;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    /* margin: 1rem 0; */

}

.container {
    width: 40%;
    align-content: center;
}

.flex {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.p-header {
    margin: 0 5px;
}

.container-header {
    width: 95%;
    margin: 0 auto;
    align-items: center;
    /* display: flex; */
    /* justify-items: center; */
}

h1 {
    font-size: 3rem;
}

.p-main {
    text-align: center;
    margin-top: 10%;

}

header  a {
    text-decoration: none;
}

.a 
{text-decoration: none;}

/* [href*=".html"] */